<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <title>Controllers</title>
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="./bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/sunny/jquery-ui.min.css" rel="stylesheet"/>
    <script src="./framework/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>

        var app = angular.module("exampleApp", [])
                .controller("mainController", function($scope){
                    $scope.$on("broadCastMsg", function(e, broadCastMsg){
                        alert("루트 스코프에서 mainController에 브로드 캐스팅 된 메시지: " + broadCastMsg);
                    });

                })
                .controller("childController1", function($scope, $rootScope){
                    $scope.broadcast = function(msg){
                        $rootScope.$broadcast("broadCastMsg", msg);
                    };

                    $scope.$on("broadCastMsg", function(e, broadCastMsg){
                        alert("루트 스코프에서 childController1에 브로드 캐스팅 된 메시지: " + broadCastMsg);
                    });
                })
                .controller("childController2", function($scope){
                    $scope.$on("broadCastMsg", function(e, broadCastMsg){
                        alert("루트 스코프에서 childController2에 브로드 캐스팅 된 메시지: " + broadCastMsg);
                    });
                });
    </script>
</head>
<body ng-controller="mainController">
    <div class="well">
        <h4>스코프 간의 이벤트 처리 예시</h4>
        <ul>
            <li>부모없이 형제만 존재 할 경우(형제간의 스코프 통신: childController1 --> childController2로 메시지 전송)</li>
        </ul>
    </div>
    <div ng-controller="childController1" style="margin-top: 10px;">
        <input type="text" ng-model="brocastMsg"/>
        <input type="button" value="root 스코프를 통해 형제들에게 브로드 캐스팅" ng-click="broadcast(brocastMsg)"/><br/><br/>
    </div>
    <div ng-controller="childController2">

    </div>
</body>
</html>